<!DOCTYPE html>
<html lang="es">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='img/icon-yellow_flower.png') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <!-- Custom Fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Silkscreen:wght@400;700&display=swap"
      rel="stylesheet"
    />

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }} {% endblock %}

    <title>todo app</title>
    {% endblock %}
  </head>
  <body class="silkscreen-regular">
    {% block content %}
    <div
      class="container-fluid vh-100 d-flex align-items-center justify-content-center"
    >
      <div class="row w-100 justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
          <!-- Todo List Card -->
          <div class="card shadow-lg rounded-4 central-card p-4">
            <div class="d-flex text-center">
              <img
                src="{{ url_for('static', filename='img/icon-yellow_flower.png') }}"
                alt="Logo"
                class="logo mb-3 me-2"
                style="width: 50px; height: 50px"
              />
              <h1 class="silkscreen-bold">To-do List</h1>
            </div>

            <h5 class="card-title">Agregar nueva tarea</h5>
            <p class="card-text">Ingresa el título de la nueva tarea.</p>

            <form action="/add" method="POST">
              <div>
                <input
                  class="form-control"
                  type="text"
                  id="title"
                  name="title"
                  placeholder="Nueva tarea"
                />
                <br />
                <button type="submit" class="btn btn-primary">Agregar</button>
              </div>
            </form>

            <ul>
              {% for todo in todo_list %}
              <li>
                {{ todo.title }} - {% if todo.complete %}Completada{% else
                %}Pendiente{% endif %}
                <a href="/update/{{ todo.id }}">[Completar]</a>
                <a href="/delete/{{ todo.id }}">[Eliminar]</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    {% endblock %} {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }} {% endblock %}
  </body>
</html>
