<!DOCTYPE html>
<html lang="es">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap"
      rel="stylesheet"
    />

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }} {% endblock %}

    <title>todo app</title>
    {% endblock %}
  </head>
  <body class="pixelify-sans-400">
    {% block content %}
    <div
      class="container-fluid vh-100 d-flex align-items-center justify-content-center"
    >
      <div class="row w-100 justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 central-card p-4">
          <h1 class="pixelify-sans-700">Todo App</h1>

          <h5 class="card-title">Agregar nueva tarea</h5>
          <p class="card-text">Ingresa el título de la nueva tarea.</p>

          <form action="/add" method="POST">
            <div>
              <label for="title" class="form-label">Todo Title</label>
              <input
                class="form-control"
                type="text"
                id="title"
                name="title"
                placeholder="Nueva tarea"
              />
              <br />
              <button type="submit" class="btn btn-primary">Agregar</button>
            </div>
          </form>

          <ul>
            {% for todo in todo_list %}
            <li>
              {{ todo.title }} - {% if todo.complete %}Completada{% else
              %}Pendiente{% endif %}
              <a href="/update/{{ todo.id }}">[Completar]</a>
              <a href="/delete/{{ todo.id }}">[Eliminar]</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    {% endblock %} {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }} {% endblock %}
  </body>
</html>
